svg {
	height: 40px;
	width: 40px;
	color: white;
	padding: 5px auto 2px auto;
    margin-top: 10px;
}
html {
    height: 100%;
    width: 100%;
}
.left {
	text-align: left;
    font-weight: bold;
    color: white;
}
::placeholder {
	color: darkblue;
	opacity: 0.8;
}
span {
	float: right;
}
body {
	text-align: center;
	background-image: url("login.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    justify-content: middle;
    align-items: center;
    height: 100%;
    width: 100%;
}
input[type=text], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #d1d5da;
    border-radius: 4px;
    background-color: white;
    color: black;
    line-height:inherit;
    font-size: 17px;
}
input[type=text]:focus , input[type="password"]:focus {
    border: 2px solid lightblue;
    display: inline-block;
}
input[type=submit] {
    width: 100%;
    padding: 9px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    background-color: #28a745;
    background-image: linear-gradient(-180deg,#34d058 0%,#28a745 90%);
    line-height:inherit;
    font-size: 16px;
}
h1 {
	color: white;
    font-weight: bold;
}
form {
	width: 40%;
    min-width: 300px;
   /* min-width: 200px*/
	margin: auto;
/*    min-height: 34px;*/
    max-height: 70%;
    padding: 6px 8px;
    font-size: 18px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 2px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}
.rcorners2 {
    width: 40%;
    min-width: 300px;
    margin: 15px auto;
    min-height: 34px;
    padding: 8px 8px 8px 8px;
    font-size: 16px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 2px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
    font-weight: bold;
}
a {
    font-size: 15px;
    color: blue;
    text-decoration: none; 
}
#black {
    color: darkblue;
    font-weight: bold;
    float: none;
}
.rcorners1 {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #d1d5da;
    border-radius: 4px;
    background-color: white;
    color: red;
    line-height:inherit;
    font-size: 17px;
}